@font-face {
    font-family: 'TTNorms';
    src: url('~@/assets/fonts/norms/TTNorms-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/norms/TTNorms-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TTNorms';
    src: url('~@/assets/fonts/norms/TTNorms-Medium.woff2') format('woff2'),
    url('~@/assets/fonts/norms/TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
